body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 60px;
}

.navbar {
    padding: 10px 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003366;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 60px;
}

.navbar .logo {
    width: 80px;
    transition: transform 0.3s ease;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 25px;
    color: #FFFFFF;
    font-size: 18px;
}

.navbar-menu .active {
    padding-bottom: 4px;
    border-bottom: 2px solid #FF6F00;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-search-icon {
    position: relative;
}

.navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: #FF6F00;
    border-radius: 50%;
    top: -8px;
    right: -8px;
}

.navbar-right button {
    background-color: #FF6F00;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    padding: 8px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar-profile {
    position: relative;
}

.navbar-profile-dropdown {
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
    background-color: #F0EDE5;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
}

.navbar-profile-dropdown li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #333333;
    border-radius: 6px;
    padding: 8px 12px;
}

.navbar-profile-dropdown img {
    width: 20px;
}

.navbar-profile:hover .navbar-profile-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navbar-profile hr {
    background-color: gray;
    height: 1px;
    border: none;
    margin: 12px 0;
}

@media (max-width: 1050px) {
    .navbar .logo {
        width: 70px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 16px;
    }

    .navbar-right {
        gap: 18px;
    }

    .navbar-right img {
        width: 20px;
    }

    .navbar-right button {
        padding: 8px 18px;
        font-size: 14px;
    }
}

@media (max-width: 900px) {
    .navbar .logo {
        width: 60px;
    }

    .navbar-menu {
        gap: 18px;
        font-size: 14px;
    }

    .navbar-right {
        gap: 15px;
    }

    .navbar-right img {
        width: 18px;
    }

    .navbar-right button {
        font-size: 12px;
        padding: 6px 14px;
    }
}

@media (max-width: 750px) {
    .navbar-menu {
        display: none;
    }

    .navbar .logo {
        width: 50px;
    }
}
